Azure Sentinel/Azure Sentinel Playbooks/ITSM Ticket/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
	    "PlaybookName": {
            "defaultValue": "AzureSentinelAlerts",
            "type": "string"
        },
		"SentinelRG": {
            "defaultValue": "SentinelRG",
            "type": "string"
		},
        "DeployserUserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },	
	    "SentinelWSName": {
            "defaultValue": "SentinelWSName",
            "type": "string"
		},
		"SentinelSubID": {
            "defaultValue": "00000000-0000-0000-0000-000000000000",
            "type": "string"			
        }
    },
    "variables": {
	    "o365ConnectionName": "[concat('o365-', parameters('PlaybookName'))]",
        "AzureMonitorLogsConnectionName": "[concat('azuremon-', parameters('PlaybookName'))]"
	},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('o365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('DeployserUserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureMonitorLogsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('DeployserUserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {    
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
			"tags": {
                "LogicAppsCategory": "security"
            },
			"dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('azuremonitorlogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('o365ConnectionName'))]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Month",
                                "interval": 3
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Azure_Active_Directory_Identity_Protection": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "let timeframe = 5m;\nSecurityIncident\n| where TimeGenerated >= ago(timeframe)\n| extend Tool = tostring(parse_json(AdditionalData)['alertProductNames'])\n| extend Product = tostring(parse_json(Tool)[0])\n| where Product == \"Azure Active Directory Identity Protection\"",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "[parameters('SentinelRG')]",
                                    "resourcename": "[parameters('SentinelWSName')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "[parameters('SentinelSubID')]",
                                    "timerange": "Set in query"
                                }
                            }
                        },
                        "Azure_Sentinel": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "let timeframe = 5m;\nSecurityIncident\n| where TimeGenerated >= ago(timeframe)\n| extend Tool = tostring(parse_json(AdditionalData)['alertProductNames'])\n| extend Product = tostring(parse_json(Tool)[0])\n| where Product == \"Azure Sentinel\"",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "[parameters('SentinelRG')]",
                                    "resourcename": "[parameters('SentinelWSName')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "[parameters('SentinelSubID')]",
                                    "timerange": "Set in query"
                                }
                            }
                        },
                        "Defender_for_Endpoint": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "let timeframe = 5m;\nSecurityIncident\n| where TimeGenerated >= ago(timeframe)\n| extend Tool = tostring(parse_json(AdditionalData)['alertProductNames'])\n| extend Product = tostring(parse_json(Tool)[0])\n| where Product == \"Microsoft Defender Advanced Threat Protection\"",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "[parameters('SentinelRG')]",
                                    "resourcename": "[parameters('SentinelWSName')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "[parameters('SentinelSubID')]",
                                    "timerange": "Set in query"
                                }
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Microsoft_Cloud_App_Security')?['value']",
                            "actions": {
                                "Status_and_Exclude_Alerts": {
                                    "actions": {
                                        "Send_an_email_(V2)": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>Azure Sentinel Alert:<br>\n<br>\nTItle: @{items('For_each')?['Title']}<br>\n<br>\nStatus: @{items('For_each')?['Status']}<br>\n<br>\nPriority: @{items('For_each')?['Severity']}<br>\n<br>\nAzure Sentinel ID:@{items('For_each')?['IncidentNumber']}<br>\n<br>\nSource: Azure Sentinel<br>\n<br>\nAlert Details:<br>\n<br>\nDescription: @{items('For_each')?['Description']}</p>",
                                                    "Importance": "High",
                                                    "Subject": "CompanyName - Sentinel @{items('For_each')?['IncidentNumber']}",
                                                    "To": "soc@dommain"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each')?['Status']",
                                                    "New"
                                                ]
                                            },
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@items('For_each')?['Title']",
                                                        "Malicious activity by a user"
                                                    ]
                                                }
                                            },
                                            {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@items('For_each')?['Severity']",
                                                            "Medium"
                                                        ]
                                                    },
                                                    {
                                                        "or": [
                                                            {
                                                                "equals": [
                                                                    "@items('For_each')?['Severity']",
                                                                    "High"
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Microsoft_Cloud_App_Security": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_2": {
                            "foreach": "@body('Azure_Sentinel')?['value']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Send_an_email_(V2)_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>Azure Sentinel Alert:<br>\n<br>\nTItle: @{items('For_each_2')?['Title']}<br>\n<br>\nStatus: @{items('For_each_2')?['Status']}<br>\n<br>\nPriority: @{items('For_each_2')?['Severity']}<br>\n<br>\nAzure Sentinel ID:@{items('For_each_2')?['IncidentNumber']}<br>\n<br>\nSource: Azure Sentinel<br>\n<br>\nAlert Details:<br>\n<br>\nDescription: @{items('For_each_2')?['Description']}</p>",
                                                    "Subject": "CompanyName - Sentinel @{items('For_each_2')?['IncidentNumber']}",
                                                    "To": "soc@dommain"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_2')?['Status']",
                                                    "New"
                                                ]
                                            },
                                            {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@items('For_each_2')?['Severity']",
                                                            "Medium"
                                                        ]
                                                    },
                                                    {
                                                        "or": [
                                                            {
                                                                "equals": [
                                                                    "@items('For_each_2')?['Severity']",
                                                                    "High"
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Azure_Sentinel": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_3": {
                            "foreach": "@body('Defender_for_Endpoint')?['value']",
                            "actions": {
                                "Condition_2": {
                                    "actions": {
                                        "Send_an_email_(V2)_3": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>Azure Sentinel Alert:<br>\n<br>\nTItle: @{items('For_each_3')?['Title']}<br>\n<br>\nStatus: @{items('For_each_3')?['Status']}<br>\n<br>\nPriority: @{items('For_each_3')?['Severity']}<br>\n<br>\nAzure Sentinel ID: @{items('For_each_3')?['IncidentNumber']}<br>\n<br>\nSource: Azure Sentinel<br>\n<br>\nAlert Details:<br>\n<br>\nDescription: @{items('For_each_3')?['Description']}</p>",
                                                    "Importance": "High",
                                                    "Subject": "CompanyName - Sentinel @{items('For_each_3')?['IncidentNumber']}",
                                                    "To": "soc@dommain"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_3')?['Status']",
                                                    "New"
                                                ]
                                            },
                                            {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@items('For_each_3')?['Severity']",
                                                            "Medium"
                                                        ]
                                                    },
                                                    {
                                                        "or": [
                                                            {
                                                                "equals": [
                                                                    "@items('For_each_3')?['Severity']",
                                                                    "High"
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Defender_for_Endpoint": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_4": {
                            "foreach": "@body('Microsoft_Defender_for_Identity')?['value']",
                            "actions": {
                                "Condition_3": {
                                    "actions": {
                                        "Send_an_email_(V2)_4": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>Azure Sentinel Alert:<br>\n<br>\nTItle: @{items('For_each_4')?['Title']}<br>\n<br>\nStatus: @{items('For_each_4')?['Status']}<br>\n<br>\nPriority: @{items('For_each_4')?['Severity']}<br>\n<br>\nAzure Sentinel ID:@{items('For_each_4')?['IncidentNumber']}<br>\n<br>\nSource: Azure Sentinel<br>\n<br>\nAlert Details:<br>\n<br>\nDescription: @{items('For_each_4')?['Description']}</p>",
                                                    "Subject": "CompanyName - Sentinel @{items('For_each_4')?['IncidentNumber']}",
                                                    "To": "soc@dommain"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_4')?['Status']",
                                                    "New"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@items('For_each_4')?['Severity']",
                                                    "High"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Microsoft_Defender_for_Identity": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_5": {
                            "foreach": "@body('Azure_Active_Directory_Identity_Protection')?['value']",
                            "actions": {
                                "Condition_4": {
                                    "actions": {
                                        "Send_an_email_(V2)_5": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>Azure Sentinel Alert:<br>\n<br>\nTItle: @{items('For_each_5')?['Title']}<br>\n<br>\nStatus: @{items('For_each_5')?['Status']}<br>\n<br>\nPriority: @{items('For_each_5')?['Severity']}<br>\n<br>\nAzure Sentinel ID:@{items('For_each_5')?['IncidentNumber']}<br>\n<br>\nSource: Azure Sentinel<br>\n<br>\nAlert Details:<br>\n<br>\nDescription: @{items('For_each_5')?['Description']}</p>",
                                                    "Subject": "CompanyName - Sentinel @{items('For_each_5')?['IncidentNumber']}",
                                                    "To": "soc@dommain"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_5')?['Status']",
                                                    "New"
                                                ]
                                            },
                                            {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@items('For_each_5')?['Severity']",
                                                            "Medium"
                                                        ]
                                                    },
                                                    {
                                                        "or": [
                                                            {
                                                                "equals": [
                                                                    "@items('For_each_5')?['Severity']",
                                                                    "High"
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Azure_Active_Directory_Identity_Protection": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Microsoft_Cloud_App_Security": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "let timeframe = 5m;\nSecurityIncident\n| where TimeGenerated >= ago(timeframe)\n| extend Tool = tostring(parse_json(AdditionalData)['alertProductNames'])\n| extend Product = tostring(parse_json(Tool)[0])\n| where Product == \"Microsoft Cloud App Security\"",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "[parameters('SentinelRG')]",
                                    "resourcename": "[parameters('SentinelWSName')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "[parameters('SentinelSubID')]",
                                    "timerange": "Set in query"
                                }
                            }
                        },
                        "Microsoft_Defender_for_Identity": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "let timeframe = 5m;\nSecurityIncident\n| where TimeGenerated >= ago(timeframe)\n| extend Tool = tostring(parse_json(AdditionalData)['alertProductNames'])\n| extend Product = tostring(parse_json(Tool)[0])\n| where Product == \"Azure Advanced Threat Protection\"",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                  "resourcegroups": "[parameters('SentinelRG')]",
                                    "resourcename": "[parameters('SentinelWSName')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "[parameters('SentinelSubID')]",
                                    "timerange": "Set in query"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureMonitorLogsConnectionName'))]",
                                "connectionName": "[variables('AzureMonitorLogsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('o365ConnectionName'))]",
                                "connectionName": "[variables('o365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}




