Azure Sentinel/Azure Sentinel Playbooks/JSMTicketIntegration/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "comments": "Azure Sentinel playbook to integrate Sentinel and Teams",
        "author": "Shivniel Gounder"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "AzureSentinelTeamsIntegration",
            "type": "string"
        },
        "deploymentGroupName": {
            "defaultValue": "playbook",
            "type": "string",
            "metadata": {
                "description": "This name will be prefixed on all the resources"
              }
        },
        "AlertChannelId": {
            "defaultValue": "00000000-0000-0000-0000-000000000000",
            "type": "string"
        },
        "InvestigationChannelId": {
            "defaultValue": "00000000-0000-0000-0000-000000000000",
            "type": "string"
        },
        "TeamsGroupId": {
            "defaultValue": "00000000-0000-0000-0000-000000000000",
            "type": "string"
        },
        "MSUserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat(parameters('deploymentGroupName'),'-apiconnector-azuresentinel')]",
		"ARMConnectionName": "[concat(parameters('deploymentGroupName'),'-apiconnector-arm')]",
		"TeamsConnectionName": "[concat(parameters('deploymentGroupName'),'-apiconnector-teams')]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('MSUserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('TeamsConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('MSUserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                }
            }
        },
      {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ARMConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('MSUserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
                }
            }
        },
        {
           "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[concat(parameters('deploymentGroupName'),'-workflow-',parameters('playbookName'))]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('ARMConnectionName'))]",
                "[concat('/subscriptions/', subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Logic/workflows/',parameters('deploymentGroupName'),'-function-getListOfTaggedPlaybooks')]"
            ],
            "tags": {
                "LogicAppsCategory": "security"
            },
                        "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "AlertChannelId": {
                            "defaultValue": "[parameters('AlertChannelId')]",
                            "type": "String"
                        },
                        "InvestigationChannelId": {
                            "defaultValue": "[parameters('InvestigationChannelId')]",
                            "type": "String"
                        },
                        "TeamsGroupId": {
                            "defaultValue": "[parameters('TeamsGroupId')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Extract_Entities": {
                            "actions": {
                                "Compose": {
                                    "runAfter": {
                                        "Get_Users": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "Author": "Shivniel Gounder"
                                    }
                                },
                                "For_each_account_entity": {
                                    "foreach": "@body('Get_Users')?['Accounts']",
                                    "actions": {
                                        "Add_to_accounts_string_variable": {
                                            "runAfter": {},
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "entitiesAccounts",
                                                "value": "@{items('For_each_account_entity')?['Name']}; "
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Compose": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "For_each_host": {
                                    "foreach": "@body('Get_Hosts')?['Hosts']",
                                    "actions": {
                                        "Append_host_to_string_variable": {
                                            "runAfter": {},
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "entitiesHosts",
                                                "value": "@{items('For_each_host')?['HostName']}; "
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Get_Hosts": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_Hosts": {
                                    "runAfter": {
                                        "For_each_account_entity": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@triggerBody()?['Entities']",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/entities/host"
                                    }
                                },
                                "Get_Users": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@triggerBody()?['Entities']",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/entities/account"
                                    }
                                },
                                "Get_the_alert_entity_types": {
                                    "runAfter": {
                                        "For_each_host": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Select",
                                    "inputs": {
                                        "from": "@triggerBody()?['Entities']",
                                        "select": {
                                            "type": "@item()?['Type']"
                                        }
                                    }
                                },
                                "LogicApp_-_Get_tagged_playbooks": {
                                    "runAfter": {
                                        "Get_the_alert_entity_types": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Workflow",
                                    "inputs": {
                                        "host": {
                                            "triggerName": "manual",
                                            "workflow": {
                                                "id": "[concat('/subscriptions/', subscription().subscriptionId,'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Logic/workflows/',parameters('deploymentGroupName'),'-function-getListOfTaggedPlaybooks')]"
                                            }
                                        }
                                    },
                                    "description": "Gets any playbooks that are tagged with the key 'playbook' and values of (ip, user, device)"
                                }
                            },
                            "runAfter": {
                                "Initialize_Playbook_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Grab_selected_playbooks_from_Investigation_Response": {
                            "runAfter": {
                                "Update_Incident_Thread_from_Investigation_Response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "playbooks",
                                "value": "@split(body('Post_Actions_Required_in_Investigation_Requests_Channel')?['data']?['playbooks'],',')"
                            }
                        },
                        "Incident_-_Get_alerts_parent_incident": {
                            "runAfter": {
                                "Extract_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                            }
                        },
                        "Initialize_Playbook_Variable": {
                            "runAfter": {
                                "Variable_-_Hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "playbooks",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Loop_through_each_playbook_and_run_it": {
                            "foreach": "@variables('playbooks')",
                            "actions": {
                                "Azure_Sentinel_-_Add_comment_to_related_Incident": {
                                    "runAfter": {
                                        "Teams_-_Reply_to_Alert_Thread": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@body('Incident_-_Get_alerts_parent_incident')?['id']",
                                            "message": "<p>Playbook (@{items('Loop_through_each_playbook_and_run_it')}) executed with the following response.<br>\n<br>\n@{body('Call_the_playbook_and_pass_alert_to_playbook')}</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    }
                                },
                                "Call_the_playbook_and_pass_alert_to_playbook": {
                                    "runAfter": {
                                        "Find_playbook_based_on_playbook_name_provided": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": "@triggerBody()",
                                        "method": "POST",
                                        "uri": "@{body('Find_playbook_based_on_playbook_name_provided')[0]?['callbackUrl']}"
                                    }
                                },
                                "Find_playbook_based_on_playbook_name_provided": {
                                    "runAfter": {},
                                    "type": "Query",
                                    "inputs": {
                                        "from": "@array(body('LogicApp_-_Get_tagged_playbooks'))",
                                        "where": "@equals(item()?['name'], items('Loop_through_each_playbook_and_run_it'))"
                                    }
                                },
                                "Teams_-_Reply_to_Alert_Thread": {
                                    "runAfter": {
                                        "Call_the_playbook_and_pass_alert_to_playbook": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": {
                                                "content": "<p>Playbook (@{items('Loop_through_each_playbook_and_run_it')}) executed with the following response.<br>\n<br>\n@{body('Call_the_playbook_and_pass_alert_to_playbook')}</p>",
                                                "contentType": "html"
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/beta/teams/@{encodeURIComponent(parameters('TeamsGroupId'))}/channels/@{encodeURIComponent(parameters('AlertChannelId'))}/messages/@{encodeURIComponent(body('Post_Incident_in_SOC_Alerts_Channel')?['id'])}/replies"
                                    }
                                }
                            },
                            "runAfter": {
                                "Grab_selected_playbooks_from_Investigation_Response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Post_Actions_Required_in_Investigation_Requests_Channel": {
                            "runAfter": {
                                "Post_Incident_in_SOC_Alerts_Channel": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "body": {
                                        "messageBody": "{\n    \"msTeams\": {\n        \"width\": \"full\"\n    },\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.2\",\n    \"body\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\t\t\"size\": \"large\",\n\t\t\t\t\t\t\"color\": \"accent\",\n\t\t\t\t\t\t\"text\": \"**Azure Sentinel Alert - @{body('Incident_-_Get_alerts_parent_incident')?['properties']?['incidentNumber']}** - @{body('Incident_-_Get_alerts_parent_incident')?['properties']?['title']}\",\n\t\t\t\t\t\t\"wrap\": true\n\t\t\t\t\t},\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Please Select the playbooks to run for the incident:\",\n            \"weight\": \"Bolder\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Available tagged Logic App playbooks\",\n            \"wrap\": true,\n            \"weight\": \"Bolder\",\n            \"color\": \"Accent\"\n        },\n        {\n            \"type\": \"Input.ChoiceSet\",\n            \"choices\": @{body('LogicApp_-_Get_tagged_playbooks')},\n            \"placeholder\": \"IP Playbooks\",\n            \"isMultiSelect\": true,\n            \"style\": \"expanded\",\n            \"id\": \"playbooks\"\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"Submit\"\n        }\n    ]\n}",
                                        "recipient": {
                                            "channelId": "[parameters('InvestigationChannelId')]"
                                        },
                                        "shouldUpdateCard": true,
                                        "updateMessage": "Azure Sentinel Incident - @{body('Incident_-_Get_alerts_parent_incident')?['properties']?['incidentNumber']} \n@{body('Incident_-_Get_alerts_parent_incident')?['properties']?['title']}"
                                    },
                                    "notificationUrl": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "path": "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions",
                                "queries": {
                                    "groupId": "[parameters('TeamsGroupId')]"
                                }
                            }
                        },
                        "Post_Incident_in_SOC_Alerts_Channel": {
                            "runAfter": {
                                "Incident_-_Get_alerts_parent_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
"messageBody": "{\n  \"msTeams\": {\n    \"width\": \"full\"\n  },\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.2\",\n  \"body\": [\n\t\t{\n\t\t\t\"type\": \"TextBlock\",\n\t\t\t\"size\": \"large\",\n\t\t\t\"color\": \"accent\",\n\t\t\t\"text\": \"Azure Sentinel Alert - @{body('Incident_-_Get_alerts_parent_incident')?['properties']?['incidentNumber']} - @{body('Incident_-_Get_alerts_parent_incident')?['properties']?['title']} \",\n\t\t\t\"wrap\": true\n\t\t},\n\t{\n\t\t\"type\": \"Container\",\n\t\t\"spacing\": \"padding\",\n\t\t\"style\": \"default\",\n\t\t\"items\": [\n\t\t\t{\n\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\"text\": \"**Owner: \"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\"spacing\": \"none\",\n\t\t\t\t\"text\": \"**Date:** @{triggerBody()?['TimeGenerated']}\",\n\t\t\t\t\"wrap\": true\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\"spacing\" : \"none\",\n\t\t\t\t\"text\": \"**Incident Status:** @{body('Incident_-_Get_alerts_parent_incident')?['properties']?['status']}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\"spacing\" : \"none\",\n\t\t\t\t\"text\": \"**Incident Severity:** @{body('Incident_-_Get_alerts_parent_incident')?['properties']?['severity']}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\"wrap\": true,\n\t\t\t\t\"text\": \"**Description:** @{body('Incident_-_Get_alerts_parent_incident')?['properties']?['description']}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\"wrap\": true,\n\t\t\t\t\"text\": \"**User(s) affected:** @{variables('entitiesAccounts')}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"type\": \"TextBlock\",\n\t\t\t\t\"wrap\": true,\n\t\t\t\t\"text\": \"**Host(s) affected:** @{variables('entitiesHosts')}\"\n\t\t\t}\n\t\t]\n\t}\n  ],\n  \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Open Incident in Sentinel\",\n      \"url\": \"@{body('Incident_-_Get_alerts_parent_incident')?['properties']?['incidentUrl']}\"\n    },\n  ]\n}",                                  
                                    "recipient": {
                                        "channelId": "[parameters('AlertChannelId')]",
                                        "groupId": "[parameters('TeamsGroupId')]"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v1.0/teams/conversation/adaptivecard/poster/@{encodeURIComponent('User')}/location/@{encodeURIComponent('Channel')}"
                            }
                        },
                        "Update_Incident_Thread_from_Investigation_Response": {
                            "runAfter": {
                                "Post_Actions_Required_in_Investigation_Requests_Channel": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "body": {
                                        "content": "<p><strong><br>\n</strong><strong>@{body('Post_Actions_Required_in_Investigation_Requests_Channel')?['responder']?['displayName']}</strong><strong> &lt;</strong><strong>@{body('Post_Actions_Required_in_Investigation_Requests_Channel')?['responder']?['userPrincipalName']}</strong><strong>&gt;</strong> has ran the following playbooks:<br>\n@{body('Post_Actions_Required_in_Investigation_Requests_Channel')?['data']?['playbooks']}</p>",
                                        "contentType": "html"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/beta/teams/@{encodeURIComponent(parameters('TeamsGroupId'))}/channels/@{encodeURIComponent(parameters('AlertChannelId'))}/messages/@{encodeURIComponent(body('Post_Incident_in_SOC_Alerts_Channel')?['id'])}/replies"
                            }
                        },
                        "Variable_-_Accounts": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "entitiesAccounts",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Variable_-_Hosts": {
                            "runAfter": {
                                "Variable_-_Accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "entitiesHosts",
                                        "type": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                                "connectionName": "[variables('TeamsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                            }
                        }
                    },
                    "AlertChannelId": {
                        "value" : "[parameters('AlertChannelId')]"
                    },
                    "TeamsGroupId": {
                        "value" : "[parameters('TeamsGroupId')]"
                    }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[concat(parameters('deploymentGroupName'),'-function-getListOfTaggedPlaybooks')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('ARMConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "tagName": {
                                            "type": "string"
                                        },
                                        "tagValue": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "description": "This playbook receives an request to get a list of resources that match the playbook tag value and responds with JSON content"
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {
                                "For_each_subscription": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@variables('playbooks')"
                        },
                        "For_each_subscription": {
                            "foreach": "@body('List_subscriptions')?['value']",
                            "actions": {
                                "For_each_playbook": {
                                    "foreach": "@body('List_resources_by_subscription')?['value']",
                                    "actions": {
                                        "Append_to_array_variable": {
                                            "runAfter": {
                                                "Compose_new_object_including_callback_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "playbooks",
                                                "value": "@outputs('Compose_new_object_including_callback_URL')"
                                            }
                                        },
                                        "Compose_new_object_including_callback_URL": {
                                            "runAfter": {
                                                "Get_playbook_callback_URL": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": {
                                                "callbackUrl": "@{body('Get_playbook_callback_URL')?['value']}",
                                                "id": "@{body('Read_a_resource')?['id']}",
                                                "name": "@{body('Read_a_resource')?['name']}",
                                                "resourceGroup": "@{outputs('split_the_resource_ID')[4]}",
                                                "subscription": "@{outputs('split_the_resource_ID')[2]}",
                                                "tags": "@{body('Read_a_resource')?['tags']}",
                                                "title": "@{items('For_each_playbook')?['name']}",
                                                "trigger": "@{split(body('Get_playbook_callback_URL')?['value'], '/')[6]}",
                                                "type": "@{items('For_each_playbook')?['type']}",
                                                "value": "@{items('For_each_playbook')?['name']}"
                                            }
                                        },
                                        "Get_playbook_callback_URL": {
                                            "runAfter": {
                                                "Read_a_resource": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/subscriptions/@{encodeURIComponent(outputs('split_the_resource_ID')[2])}/resourcegroups/@{encodeURIComponent(outputs('split_the_resource_ID')[4])}/providers/@{encodeURIComponent('Microsoft.Logic')}/@{encodeURIComponent('workflows/',outputs('split_the_resource_ID')[8])}/@{encodeURIComponent('triggers/',if(contains(body('Read_a_resource')?['properties']?['definition']?['triggers'],'When_a_response_to_an_Azure_Sentinel_alert_is_triggered'),'When_a_response_to_an_Azure_Sentinel_alert_is_triggered','manual'),'/listCallbackUrl')}",
                                                "queries": {
                                                    "x-ms-api-version": "2016-06-01"
                                                }
                                            }
                                        },
                                        "Read_a_resource": {
                                            "runAfter": {
                                                "split_the_resource_ID": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/subscriptions/@{encodeURIComponent(outputs('split_the_resource_ID')[2])}/resourcegroups/@{encodeURIComponent(outputs('split_the_resource_ID')[4])}/providers/@{encodeURIComponent('Microsoft.Logic')}/@{encodeURIComponent('workflows/',outputs('split_the_resource_ID')[8])}",
                                                "queries": {
                                                    "x-ms-api-version": "2016-06-01"
                                                }
                                            }
                                        },
                                        "split_the_resource_ID": {
                                            "runAfter": {},
                                            "type": "Compose",
                                            "inputs": "@split(items('For_each_playbook')?['id'],'/')"
                                        }
                                    },
                                    "runAfter": {
                                        "List_resources_by_subscription": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "List_resources_by_subscription": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/subscriptions/@{encodeURIComponent(item()?['subscriptionId'])}/resources",
                                        "queries": {
                                            "$filter": "tagName eq 'playbook'",
                                            "x-ms-api-version": "2016-06-01"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "List_subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "List_subscriptions": {
                            "runAfter": {
                                "Variable_-_playbooks": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/subscriptions",
                                "queries": {
                                    "x-ms-api-version": "2016-06-01"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@variables('playbooks')",
                                "statusCode": 200
                            }
                        },
                        "Variable_-_playbooks": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "playbooks",
                                        "type": "array"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
             "parameters": {
                    "$connections": {
                        "value": {
                            "arm": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ARMConnectionName'))]",
                                "connectionName": "[variables('ARMConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
                            },
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
