Azure Sentinel/Azure Sentinel Playbooks/JSMTicketIntegration/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "comments": "JSM Integration",
        "author": "Shivniel Gounder"
    },
    "parameters": {
	    "PlaybookName": {
            "defaultValue": "CustomerName-DEFEND_JSM_Tickets",
            "type": "string"
        },

		"CustomerID" :{
		    "defaultValue": "Enter Customer Name, must align with JSM customer name",
            "type": "string"
        }
    
    },
    "variables": {
	    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "JiraConnectionName": "[concat('jira-', parameters('PlaybookName'))]"
		
		},
     "resources": [
                {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('JiraConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('JiraConnectionName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/jira')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
                "identity": {
                    "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('JiraConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "AlertGetIncident": {
                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                            "actions": {
                                "Alert_-_Get_incident": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceId'])}/alerts/@{encodeURIComponent(items('AlertGetIncident')?['properties']?['systemAlertId'])}"
                                    }
                                }
                            },
                            "runAfter": {},
                            "type": "Foreach"
                        },
                        "Condition": {
                            "actions": {
                                "For_each": {
                                    "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                                    "actions": {
                                        "Create_a_new_issue_(V2)": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "fields": {
                                                        "customfield_10103": "@triggerBody()?['object']?['properties']?['severity']",
                                                        "customfield_10104": "@{convertFromUtc(triggerBody()?['object']?['properties']?['createdTimeUtc'], 'New Zealand Standard Time', 'dd MMMM yyyy')}",
                                                        "customfield_10105": "@{convertFromUtc(triggerBody()?['object']?['properties']?['createdTimeUtc'], 'New Zealand Standard Time', 'HH:mm')}",
                                                        "customfield_10106": "@{triggerBody()?['object']?['properties']?['incidentNumber']}",
                                                        "customfield_10107": "@variables('CustomerID')",
                                                        "description": "@items('For_each')?['properties']?['description']",
                                                        "summary": "@triggerBody()?['object']?['properties']?['title']"
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['jira']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/issue",
                                                "queries": {
                                                    "issueTypeIds": "10044",
                                                    "projectKey": "ISDN"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "InitCustomerName": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['object']?['properties']?['status']",
                                            "New"
                                        ]
                                    },
                                    {
                                        "or": [
                                            {
                                                "equals": [
                                                    "@triggerBody()?['object']?['properties']?['severity']",
                                                    "High"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@triggerBody()?['object']?['properties']?['severity']",
                                                    "Medium"
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "InitCustomerName": {
                            "runAfter": {
                                "AlertGetIncident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "CustomerID",
                                        "type": "string",
                                        "value": "[parameters('CustomerID')]"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
								"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
								"connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "jira": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('JiraConnectionName'))]",
                                "connectionName": "[variables('JiraConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/jira')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
